.why{
    background: var(--color-jimmy1-600);
    color: var(--color-jimmy1-100);
    position: relative;
}
.why .title{
    background-color: var(--color-jimmy2-500);
    font-family: var(--texto-subtitulo);
    position: relative;
    top: -12px;
}