.terminos h1{
        color: var(--color-jimmy1-700)
}
.terminos ol>ul{
    /* margin: 0 140px; */
    font-family: var(--texto-parrafos);
    font-size:large;

}

.terminos ol>li{
    background-color: var(--color-jimmy1-600);
    font-family: var(--texto-subtitulo);
    font-size:large;
    font-weight: bolder;
}
